body{
    text-align: center;
    background-image: url(../assets/backgroundtile.gif);
    background-repeat: repeat;
}

.container{
    margin: 10%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    max-height: 600px;
}

.left{
    background-image: url(../assets/backgroundtext.gif);
    grid-area: 1 / 1 / 6 / 2;
    border: solid;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
}

main{
    background-image: url(../assets/backgroundtext.gif);
    grid-area: 1 / 2 / 6 / 5; 
    border: solid;
}

.right{
    background-image: url(../assets/backgroundtext.gif);
    grid-area: 1 / 5 / 6 / 6;
    border: solid;
    overflow: auto;
}